#main {
	transition: margin-left 0.75s; /* Speed Of Button*/
	margin-left: 250px;
	min-height: 100vh;
}
* {
	font-size: 13px;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}
:root { /*different shades of grey*/
 --backroundcolor: #eee;
 --radius: 5px;
 --bordercolor: #999;
 --main-padding: 15px;
 --maintextcolor: #666;
 --maintextalternativecolor: #444;
 --bordercolorfieldset: #ccc;
}
body {
	background-color: var(--backroundcolor);
	position: relative;
}

#maincontent {
	min-width: 65%;
	display: table;
	margin: auto;
	width: 70%;
	position: relative;
}
/* Left Nav MENU*/

.sidenav { /*Main Menu*/
	white-space: nowrap;
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #223239;
	overflow-x: hidden;
	transition: 0.75s; /* Speed Of Side Menu*/
	padding-top: 60px;
}
.sidenav a { /* link menu - colors and style */
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 17px;
	color: #aebac3;
	display: block;
	transition: 0.2s;
}
.sidenav a:hover {
	color: #f1f1f1; /*very light pink - color when the mouse is hoovering over*/
	transition: all 0.17s linear;
}
.sidenav .closebtn { /*shrink menu*/
	position: absolute;
	top: 0;
	right: 2px;
	font-size: 25px;
	margin-left: 50px;
	margin-top: 9px;
	cursor: pointer;
}
/* --https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate------ */

.collapsible { /*shrink menu*/
	background-color: #18262c;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin: 0;
	border-radius: 0;
	border-top: 0px solid #223239;
	border-bottom: 2px solid #223239;
	color: #aebac3;
}
.collapsible:after {
	content: '\002B';
	content: '\25BC';
	content: '\2193';
	content: '\2BC6';
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.content li { /*sub menu*/
	list-style-type: none;
}
.content li a { /*sub menu*/
	color: #919ca1;
	font-size: 15px;
	padding: 10px 0 10px 26px;
}
.active, .collapsible:hover {
	background-color: #041016;
	color: #67c1c3;
}
.content {
	padding: 0 20px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #0e1e25;
}
.content li a:hover {
}
/* --https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_animate------ */

#shortnav {
	display: none;
	transition: all 1.17s linear;
}
#shortnav a {
	padding: 11px 3px 11px 3px;
}
#shortnav a img {
	transition: all 1.17s linear;
}


.textcollapsed {
	color:#aebac3;
	transform: rotate(-90deg);
	position: absolute;
    bottom: 123px;
    padding-bottom: 40px;
    font-size: 16px;
    /* left: 0; */
}



#longnav {
	transition: all 1.17s linear;
	z-index: 11;
	min-height: 65%;
}

.logout{
   
    color: white;
    cursor: pointer;
    padding: 18px;

    font-size: 15px;
   
    border-radius: 0;
    border-top: 1px dotted #3a5a5a;
	border-bottom: 1px dotted #3a5a5a;
    
	
    color: #aebac3;
}


/*logos*/
 #logocontainer a:hover{

background-color: #18262c;
}



.boxshadow {
	box-shadow: 0px 6px 40px -6px #ccc;
}
/* Forms*/


form { /*form box - style*/
	width: 50%;
	min-width: 825px;
	padding: 20px 20px 20px 20px;
	background-color: white;
	display: block;
	box-sizing: border-box;
	border-radius: var(--radius);
	margin: 15px auto;
}
/*columns distribution into the form*/
.col1, .col2, .col3, .col4, .colauto {
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 27px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.col1 {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 27px;
}
.col2 {
	flex: 0 0 50%;
	max-width: 50%;
}
.col4 {
	flex: 0 0 25%;
	max-width: 25%;
}
.col3 {
	flex: 0 0 33.3%;
	max-width: 33.3%;
}
.colauto {
	flex: auto;
}
hr {
	border: 1px dotted silver;
	width: 95%;
	;
}
fieldset {
	/* background-color:#F5F5F5;
     */
	padding: 22px 20px 10px 10px;
	border-radius: var(--radius);
	border: 1px dotted var(--bordercolorfieldset);
	margin-bottom: 19px;
}
legend {
	padding: 0 5px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 19px;
	align-items: start;
}
.row2 {
	display: inline-flex;
	;
	flex-wrap: wrap;
	align-items: start;
	width: 49.7%;
}
label {
	display: inline-block;
	margin-bottom: 4px;
	margin-left: 4px;
	color: var(--maintextcolor);
}
input, select {
	display: block;
	width: 100%;
	border-radius: var(--radius);
	padding: 7px;
	border: 1px dotted var(--bordercolor);
}
textarea {
	width: 100%;
	border-radius: var(--radius);
	padding: 7px;
	border: 1px dotted var(--bordercolor);
	resize: vertical;
	min-height: fit-content;
}
 ::placeholder {
 color:silver;
}
input[type=checkbox], input[type=radio] {
	box-sizing: border-box;
	position: absolute;
	width: 14px;
}
.form-check {
	position: relative;
	display: block;
	box-sizing: border-box;
}
.form-check-label {
	box-sizing: border-box;
	display: inline-block;
	padding-left: 11px;
}
.buttons {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
input[type=submit], input[type=reset], input[type=button], button {
	color: #fff;
	background-color: #3089d6;
	font-weight: 400;
	border: 1px solid transparent;
	border-radius: var(--radius);
	width: auto;
	margin: 0 6px;
	padding: 7px;
	cursor: pointer;
	transition: all 0.1s linear;
}
input[type=reset] {
	background-color: #626D75;
	transition: all 0.1s linear;
}
input[type=submit]:hover, input[type=button]:hover, button:hover {
	background-color: #297DC5;
	transition: all 0.1s linear;
}
button:disabled {
	background-color: #80baec;
	cursor: unset;
}
input[type=button]:disabled , input[type=submit]:disabled {
	background-color: #80baec;
	cursor: unset;
}
input[type=reset]:hover {
	background-color: #4E555B;
	transition: all 0.1s linear;
}
select[disabled] {
	background-color: #ebebe4;
}
/* Tables*/

.table {
	border-radius: var(--radius);
	background-color: white;
	margin: 25px auto;
	padding: 2px;
	width: fit-content;
	width: -moz-fit-content;
	
}
table {
	border-collapse: collapse;
	background-color: white;
	border: none;
	border: 5px solid white;
	padding: 3px;
	margin: auto;
}
thead {
	border-bottom: 3px solid silver;
}
th {
	color: #60b3ce;
	background-color: #fff;
}
tr {
	display: table-row;
	border: 1px solid white;
}
tr:hover {
	background: rgba(247,240,203,.40)!important;
}
td, th {
	padding: 19px;
	vertical-align: top;
	border: none;
	border-right: dotted 1px silver;
}
td {
	color: var(--maintextcolor);
}
tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}
.centered {
	text-align: center;
}
h1 {
	color: #d7157f;
	font-weight: 300;
	font-size: 33px;
}
h2 {
	color: #d7157f;
	font-weight: 300;
	font-size: 22px;
}
h3 {
	color: #d7157f;
	font-weight: 300;
	font-size: 19px;
}
h4 {
	color: #d7157f;
	font-weight: 500;
	font-style: italic;
	font-size: 19px;
	font-variant: inherit;
}
h5 {
	color: #d7157f;
	font-weight: 700;
	font-style: italic;
	font-size: 17px;
	font-variant: inherit;
}
h6 {
	color: #d7157f;
	font-weight: 700;
	font-size: 14px;
	font-variant: inherit;
}
p {
	color: var(--maintextalternativecolor);
	line-height: 1.9em;
	padding: 11px 0px;
}
#red, #blue, #green {
	height: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	width: auto;
	z-index: 99;
}
.alertbox {
	border-radius: var(--radius);
	padding: 14px 19px;
	margin: 5px 5px;
	box-shadow: 0px 0px 50px -9px #aaa;
	display: none;
}
.alertbox.red {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	transition: all 2.17s linear!important;
}
.alertbox.blue {
	background-color: #cce5ff;
	color: #004085;
	border: 1px solid #a8ccf3
}
.alertbox.green {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #b2dabb;
}
.alertbox span {
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 30px;
	font-weight: bold;
	opacity: .7;
}
.alertbox span:hover {
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	opacity: 0.8;
}
/* --- Icons --- */


.fa {
	color: darkgrey;
}
.fa:hover {
	color: orangered;
}
/* ----------------------------------------- */


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 75px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;
}
.close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	opacity: 0.8;
	transition: all 200ms;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #666;
}
select {
	color: var(--maintextcolor);
	padding: 6px;
}
option {
	color: var(--maintextcolor);
}
#logocontainer {
	z-index: 1;
	margin-top: 22px;
	width: 100%;
}
.logo {
	width: 100px;
	margin: auto;
	display: block;
	   padding-top: 20px;
}
footer {
	background-color: #d9d9d9;
	height: 33px;
	padding: 13px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: right;
}
